<md-toolbar>

  <span><img src="assets/logo-xs.jpg" alt="Logo"></span>

  <div fxLayout="row" fxShow="false" fxShow.gt-xs>
    <button md-button routerLink="/">Calendario</button>
    <button md-button [mdMenuTriggerFor]="menuMembers">Miembros<md-icon>keyboard_arrow_down</md-icon></button>
    <button *ngIf="user.isAdmin()" md-button routerLink="/invitados">Invitados</button>

    <button md-button routerLink="/members/0">Lista General</button>

    <button *ngIf="user.isAdmin()" md-button routerLink="/users">Usuarios</button>
  </div>

  <span class="fill-remaining-space"></span>

  <button md-icon-button [mdMenuTriggerFor]="menu" fxHide="false" fxHide.gt-xs>
    <md-icon>menu</md-icon>
  </button>

  <span><a routerLink="/signout" fxShow="false" fxShow.gt-xs><md-icon>exit_to_app</md-icon> </a></span>

</md-toolbar>

<md-menu #menu="mdMenu">
  <button md-menu-item routerLink="/">
    Calendario
  </button>
  <button md-menu-item [mdMenuTriggerFor]="menuMembers">
    Miembros<md-icon>keyboard_arrow_down</md-icon>
  </button>
  <button md-menu-item routerLink="/members/0">
    Lista General
  </button>
  <button md-menu-item *ngIf="user.isAdmin()" routerLink="/users">
    Usuarios
  </button>
  <button md-menu-item routerLink="/signout">
    Salir
  </button>
</md-menu>

<md-menu #menuMembers="mdMenu">
  <button md-menu-item routerLink="/members/4">
    Embajadores
  </button>
  <button md-menu-item routerLink="/members/2">
    Hosts
  </button>
  <button md-menu-item routerLink="/members/1">
    Residentes
  </button>
  <button md-menu-item routerLink="/members/5">
    Invitados+1
  </button>
  <button md-menu-item routerLink="/members/3">
    Invitados
  </button>
</md-menu>

<router-outlet></router-outlet>
