<div class="container">
  <div fxLayout="row">
  <ng-container *ngIf="member">
  <md-card class="card-container">
    <md-card-header>
      <md-card-title>Detalle de Miembro </md-card-title>
    </md-card-header>

      
          <md-card-content class="inputs-wrapper">
            
            <span></span>

            <div class="input-wrapper">
               <md-input-container class="full-width">
                 <input mdInput placeholder="Rut" [value]="member.rut" readonly="true">
               </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
               <input mdInput placeholder="Nombre" [value]="member.first_name" readonly="true">
               </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
              <input mdInput placeholder="Apellido" [value]="member.last_name" readonly="true">
              </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
              <input type="email" mdInput placeholder="Email" [value]="member.email" readonly="true">
              </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
               <input type="number" mdInput placeholder="Teléfono" [value]="member.phone" readonly="true"></md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
               <input  mdInput placeholder="Género" [value]="member.gender == 1 ? 'Masculino' : 'Femenino' " readonly="true">
              </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
              <input mdInput placeholder="Tipo" [value]="mtype_value" readonly="true">
             </md-input-container>
           </div>
           
        </md-card-content>

        <md-card-actions class="actions">
          <div>
            <a routerLink="/members"><button md-button >Volver</button></a>
            <button [routerLink]="['/members/edit',member.id]" md-button type="button">Editar Miembro</button>
          </div>
      </md-card-actions>
      
  </md-card>


  <md-card class="container">
    <md-card-header>
      <md-card-title>Historial de Visitas</md-card-title>
    </md-card-header>
    <md-card-content>
      <table>
        <tr>
          <th>Fecha</th>
          <th>Invitados</th>
        </tr>
        <tr *ngFor="let visit of member.visits">
          <td>{{visit.created_at | date: "dd/MM/yyyy"}}</td>
          <td>{{c_invite - visit.remaining_guest}}</td>
        </tr>
      </table>
    </md-card-content>
  </md-card>
  
  </ng-container>
</div>
</div>
