<div class="container">
  <div fxLayout="column">
    <ng-container *ngIf="member">
      <div fxLayout="row">
        <md-card class="full-width">
          <md-card-header>
            <md-card-title>Detalle</md-card-title>
            <span class="fill-remaining-space"></span>
            <button md-button [routerLink]="['/members',member.mtype]">Volver</button>
          </md-card-header>

          <md-card-content class="inputs-wrapper">

            <span></span>

            <div class="input-wrapper">
               <md-input-container class="full-width">
                 <input mdInput placeholder="Rut" [value]="member.rut" readonly="true">
               </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
               <input mdInput placeholder="Nombre" [value]="member.first_name" readonly="true">
               </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
              <input mdInput placeholder="Apellido" [value]="member.last_name" readonly="true">
              </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
              <input type="email" mdInput placeholder="Email" [value]="member.email" readonly="true">
              </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
               <input type="number" mdInput placeholder="Teléfono" [value]="member.phone" readonly="true"></md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
               <input  mdInput placeholder="Género" [value]="member.gender == 1 ? 'Masculino' : 'Femenino' " readonly="true">
              </md-input-container>
            </div>

            <div class="input-wrapper">
              <md-input-container class="full-width">
              <input mdInput placeholder="Tipo" [value]="mtype_value" readonly="true">
             </md-input-container>
           </div>

        </md-card-content>

        <md-card-actions class="actions">
            <button *ngIf="user.isAdmin()" [routerLink]="['/members/edit',member.id]" md-button type="button">Editar Miembro</button>
        </md-card-actions>

        </md-card>
      </div>
      <br>
      <div fxLayout="row">
        <md-card class="full-width">
          <md-card-header>
            <md-card-title>Historial de Visitas</md-card-title>
          </md-card-header>
          <md-card-content>
            <table class="table table-hover table-sm">
              <tr>
                <th class="text-center">Fecha</th>
                <th class="text-center">Invitados</th>
              </tr>
              <tr *ngFor="let visit of member.visits">
                <td class="text-center">{{visit.created_at | date: "dd/MM/yyyy"}}</td>
                <td class="text-center">{{ (c_invite - visit.remaining_guest - 1) >= 0 ? c_invite - visit.remaining_guest - 1 : c_invite - visit.remaining_guest }}</td>
              </tr>
            </table>
          </md-card-content>
        </md-card>
      </div>

    </ng-container>
  </div>
</div>
