
<div class="container">
<md-card>
  <md-card-header>
    <md-card-title>Detalle de Miembro </md-card-title>
  </md-card-header>

  <ng-container *ngIf="member">
  <md-card-content>
  <div>
     <md-input-container><input mdInput placeholder="Rut" [value]="member.rut" readonly="true"></md-input-container>
  </div>
  <div fxLayout="row" class="form-row">
    <div fxFlex="50">
       <md-input-container><input mdInput placeholder="Nombre" [value]="member.first_name" readonly="true"></md-input-container>
    </div>
   <div fxFlex="50">
      <md-input-container><input mdInput placeholder="Apellido" [value]="member.last_name" readonly="true"></md-input-container>
    </div>
  </div>

  <div fxLayout="row" class="form-row">
    <div fxFlex="50">
      <md-input-container><input type="email" mdInput placeholder="Email" [value]="member.email" readonly="true"></md-input-container>
    </div>
    <div fxFlex="50">
       <md-input-container><input mdInput placeholder="Teléfono" [value]="member.phone" readonly="true"></md-input-container>
    </div>
  </div>

  <div fxLayout="row" class="form-row">
  <div fxFlex="50">
    <md-input-container><input  mdInput placeholder="Género" [value]="member.gender == 1 ? 'Masculino' : 'Femenino' " readonly="true"></md-input-container>
  </div>

  <div fxFlex="50">
    <md-input-container><input  mdInput placeholder="Tipo" [value]="member.mtype == 1 ? 'Residente' : 'Host' " readonly="true"></md-input-container>

  </div>
  </div>

  </md-card-content>
</ng-container>



  <md-card-actions class="actions">
    <div>
     <button [routerLink]="['edit']" md-button type="button">Editar Miembro</button>
   </div>
  </md-card-actions>
</md-card>

</div>
