<div class="container">
  <md-tab-group class="member-list-tabs">

    <md-tab label="Gráfico 1">
		<div class="grafico-pie">
		  <canvas baseChart
		          [data]="pieChartData"
		          [labels]="pieChartLabels"
		          [chartType]="pieChartType"
		          (chartHover)="chartHovered($event)"
		          (chartClick)="chartClicked($event)"></canvas>
		</div>
    </md-tab>
    
    <md-tab label="Gráfico 2">
	 <div class="grafico-bar">
	    <canvas baseChart
	            [datasets]="barChartData"
	            [labels]="barChartLabels"
	            [options]="barChartOptions"
	            [legend]="barChartLegend"
	            [chartType]="barChartType"
	            (chartHover)="chartHovered($event)"
	            (chartClick)="chartClicked($event)"></canvas>
	    <button (click)="randomize()">Update</button>        
	  </div>
	  
	</md-tab>

  </md-tab-group>
</div>