.container { padding: 20px; }
.fill-remaining-space { flex: 1 1 auto; }
.full-width { width: 100%; }
.actions { display: flex; justify-content: flex-end; }

.inputs-wrapper {
	display: flex;
	flex-wrap: wrap;
}
.form-row { height: 70px; }

.input-wrapper {
	flex: 1 0 200px;
	box-sizing: border-box;
	margin: 0.25rem .5em;
	height: 50px;
}

.select {
	margin-top: 5px;
}

@media screen and (min-width: 0em) {
	.input-wrapper {
      max-width: calc(100%);
    }
}

@media screen and (min-width: 30em) {
	.input-wrapper {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 40em) {
	.input-wrapper {
       max-width: calc(33.3% -  1em);
    }
}

@media screen and (min-width: 60em) {
	.input-wrapper {
       max-width: calc(25% -  1em);
    }
}

@media screen and (min-width: 80em) {
	.input-wrapper {
       max-width: calc(20% -  1em);
    }
}
