.full-width { width: 100%; }
.textarea-height { min-height: 220px; }

.badruts { color: #e74c3c; }

.event-actions { justify-content: flex-end; }

@media screen and (min-width: 0em) {
  /deep/ .mat-dialog-container {
    height:95vh;
    width:90vw;
    max-height:95vh;
    max-width: 90vw;
  }
}

@media screen and (min-width: 45em) {
  /deep/ .mat-dialog-container {
    height:40vh;
    width:60vw;
    max-height:40vh;
    max-width: 60vw;
  }
}
