<div class="container">
  <h4 md-dialog-title class="title">Añadir Invitados</h4>
  <md-dialog-content class="content">
    <div fxLayout="row" class="slider-wrapper">
      <md-slider
        class="slider"
        [disabled]="s_disabled"
        [invert]="s_invert"
        [max]="s_max"
        [min]="s_min"
        [step]="s_step"
        [thumb-label]="s_thumbLabel"
        [tick-interval]="tickInterval"
        displayValue="s_displayValue"
        [value]="s_value"
        [vertical]="s_vertical">
    </md-slider>
    </div>
    <div fxLayout="row">
      <div fxFlex="50">
        <div *ngIf="valid_ruts.length > 0" class="result-wrapper">
          <button md-button (click)="addGuests()" class="invite-button">Invitar</button>
          <ul class="valids">
            <li *ngFor="let rut of valid_ruts; let i = index;" (click)="removeValid(i)"><span class="over-hidden">{{ rut }}</span><md-icon class="icon">clear</md-icon></li>
          </ul>
        </div>
      </div>
      <div fxFlex="50">
        <div *ngIf="invalid_ruts.length > 0" class="result-wrapper">
          <button md-button (click)="editInvalids()" class="edit-button" [disabled]="valid_ruts.length != 0">Editar</button>
          <ul class="invalids">
            <li *ngFor="let rut of invalid_ruts; let i = index;" (click)="removeInvalid(i)"><span class="over-hidden">{{ rut }}</span><md-icon class="icon">clear</md-icon></li>
          </ul>
        </div>
      </div>
    </div>
    <div fxLayout="row">
      <md-input-container class="full-width">
        <textarea mdInput [(ngModel)]="guests" mdTextareaAutosize></textarea>
      </md-input-container>
    </div>
  </md-dialog-content>
  <md-dialog-actions class="actions">
    <button md-button md-dialog-close>Cancelar</button>
    <button md-button [disabled]="!guests" (click)="validate()">Validar</button>
  </md-dialog-actions>
</div>
