.full-width { width: 100%; }

.event-actions { justify-content: flex-end; }

@media screen and (min-width: 0em) {
  /deep/ .mat-dialog-container {
    width:90vw;
    max-width: 90vw;
  }
}

@media screen and (min-width: 45em) {
  /deep/ .mat-dialog-container {
    width:60vw;
    max-width: 60vw;
  }
}
