.container {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.actions { display: flex; justify-content: flex-end; }

.form-row { height: 70px; }

.title {
	align-content: center;
	font-size: 30px;
	text-transform: uppercase;
}
