<ng-container *ngIf="event">
<div class="container">

  <div fxLayout="row">
    <md-card class="card-container">

      <md-card-content class="inputs-wrapper">

        <span></span>

        <div class="input-wrapper">
          <md-input-container class="full-width">
            <input mdInput placeholder="Nombre" [value]="event.name" readonly>
          </md-input-container>
        </div>

        <div class="input-wrapper">
          <md-input-container class="full-width">
            <input mdInput placeholder="Inicio" [value]="event.starts | date: 'dd/MM/yyyy  HH:mm'" readonly>
          </md-input-container>
        </div>

        <div class="input-wrapper">
          <md-input-container class="full-width">
            <input mdInput placeholder="Inicio" [value]="event.ends | date: 'dd/MM/yyyy  HH:mm'" readonly>
          </md-input-container>
        </div>

        <div class="input-wrapper">
          <md-input-container class="full-width">
            <input mdInput placeholder="Total Invitados" [value]="event.total_guests" readonly>
          </md-input-container>
        </div>

        <div class="input-wrapper">
          <md-input-container class="full-width">
            <input mdInput placeholder="Total Asistentes" [value]="event.total_attendees"  readonly>
          </md-input-container>
        </div>

      </md-card-content>
    </md-card>
  </div>

  <div fxLayout="row" class="rowMargin">
    <md-card class="card-container">
      <md-card-header>
        <md-card-title>
          <button md-button (click)="addGuestsDialog()">Añadir Invitados</button>
        </md-card-title>
      </md-card-header>
    </md-card>
  </div>

  <div class="charts-wrapper">

    <div class="chart-wrapper">
      <md-card class="card-container-chart">
        <md-card-header>
          <md-card-title>
          <span class="md-title">Lista General</span>
          </md-card-title>
        </md-card-header>
        <md-card-content class="md-card-content-chart">
          <div class="grafico-pie">
            <canvas baseChart
                    [data]="pieChart1Data"
                    [labels]="pieChart1Labels"
                    [chartType]="pieChart1Type"
                    [options]="pieChart1Options"></canvas>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="chart-wrapper">
      <md-card class="card-container-chart">
        <md-card-header>
          <md-card-title>
          <span class="md-title">Asistentes por tipo</span>
          </md-card-title>
        </md-card-header>
        <md-card-content class="md-card-content-chart">
          <div class="grafico-pie">
            <canvas baseChart
                    [data]="pieChart2Data"
                    [labels]="pieChart2Labels"
                    [chartType]="pieChart2Type"
                    [options]="pieChart2Options"></canvas>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="chart-wrapper">
      <md-card class="card-container-chart">
        <md-card-header>
          <md-card-title>
          <span class="md-title">Hora llegada</span>
          </md-card-title>
        </md-card-header>
        <md-card-content class="md-card-content-chart2">
          <div class="grafico-barra">
            <canvas baseChart
      	            [datasets]="barChart3Data"
      	            [labels]="barChart3Labels"
      	            [options]="barChart3Options"
      	            [legend]="barChart3Legend"
      	            [chartType]="barChart3Type"></canvas>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="chart-wrapper" *ngIf="doughnutChart4Data.length > 0">
      <md-card>
        <md-card-header>
          <md-card-title>
          <span class="md-title">Invitados por Usuario</span>
          </md-card-title>
        </md-card-header>
        <md-card-content class="md-card-content-chart">
          <div class="grafico-doughnut">
            <canvas baseChart
                    [data]="doughnutChart4Data"
                    [labels]="doughnutChart4Labels"
                    [chartType]="doughnutChart4Type"
                    [options]="doughnutChart4Options"></canvas>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="chart-wrapper">
      <md-card class="card-container-chart">
        <md-card-header>
          <md-card-title>
          <span class="md-title">Cortesias</span>
          </md-card-title>
        </md-card-header>
        <md-card-content class="md-card-content-chart2">
          <div class="grafico-barra">
            <canvas baseChart
      	            [datasets]="barChart5Data"
      	            [labels]="barChart5Labels"
      	            [options]="barChart5Options"
      	            [legend]="barChart5Legend"
      	            [chartType]="barChart5Type"></canvas>
          </div>
        </md-card-content>
      </md-card>
    </div>

  </div>


</div>
</ng-container>
