.container { padding: 20px; }

.card-container { width: 100%; }

.full-width { width: 100%; }

.rowMargin { margin-top: 1rem; margin-bottom: 0.5rem; margin-left: 0; margin-right: 0; }

.md-card-content-chart {
	display: flex;
	justify-content: center;
}

.md-card-content-chart2 {
	width: 100%;
}

.grafico-pie {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
}

.grafico-doughnut {
	width: 100%;
	display: flex;
}

.grafico-bar {
	width: 100%;
}

.containerg {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.inputs-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.input-wrapper {
	flex: 1 0 500px;
	box-sizing: border-box;
	margin: 0.25rem .5em;
}

.charts-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.chart-wrapper {
	flex: 1 0 200px;
	box-sizing: border-box;
	margin: 0.5rem 0;
}

@media screen and (min-width: 0em) {
		.input-wrapper {
       max-width: calc(100%);
    }
}

@media screen and (min-width: 30em) {
		.input-wrapper {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 40em) {
		.input-wrapper {
       max-width: calc(33.3% -  1em);
    }
}

@media screen and (min-width: 60em) {
		.input-wrapper {
       max-width: calc(25% -  1em);
    }
}

@media screen and (min-width: 80em) {
		.input-wrapper {
       max-width: calc(20% -  1em);
    }
}

@media screen and (min-width: 0em) {
    .chart-wrapper {
       max-width: calc(100%);
    }
}

@media screen and (min-width: 45em) {
    .chart-wrapper {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 70em) {
    .chart-wrapper {
       max-width: calc(33% -  1em);
    }
}

@media screen and (min-width: 90em) {
    .chart-wrapper {
        max-width: calc(25% - 1em);
    }
}

@media screen and (min-width: 110em) {
    .chart-wrapper {
        max-width: calc(20% - 1em);
    }
}
