<div class="container">

  <div fxLayout="row" class="header">
    <span class="title">{{ title }}</span>
    <span class="fill-remaining-space"></span>
    <a *ngIf="user.isAdmin()" routerLink="/members/new" md-raised-button> <md-icon>add</md-icon> Nuevo</a>
  </div>
  <br>

  <div fxLayout="row">
    <table class="table table-hover table-sm">
      <thead>
      <tr>
        <th>Nombre Completo</th>
        <th class="text-center">Última vez visto</th>
        <th class="text-center"># Visitas</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let member of members" [routerLink]="['/members/show',member.id]">
        <td class="member-name">{{ member.first_name }} {{ member.last_name }}</td>
        <td class="text-center">{{ member.last_seen | date:'dd/MM/y' }}</td>
        <td class="text-center">{{ member.total_visits }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div fxLayout="row" fxFlexAlign="center" *ngIf="total_pages > 1">
    <button md-mini-fab color="warn" *ngIf="!first_page" (click)="changePage(prev_page)"><md-icon>keyboard_arrow_left</md-icon></button>
    <button md-mini-fab *ngFor="let i of members_pages" color="warn" [ngClass]="{'active': current_page == i }" (click)="changePage(i)">{{i}}</button>
    <button md-mini-fab color="warn" *ngIf="!last_page" (click)="changePage(next_page)"><md-icon>keyboard_arrow_right</md-icon></button>
  </div>
  <br>

</div>
