<div class="container">

  <div fxLayout="row" class="header">
    <span class="title">{{ title }}</span>
    <span class="fill-remaining-space"></span>
    <a *ngIf="user.isAdmin() && mtype != 0" routerLink="/members/new" md-raised-button> <md-icon>add</md-icon> Nuevo</a>
  </div>
  <br>

  <div fxLayout="column">

    <div fxLayout="row">
      <md-input-container floatPlaceholder="never" class="full-width">
        <input mdInput #filter placeholder="Buscar: ">
      </md-input-container>
    </div>

    <div fxLayout="row">

      <md-table #table [dataSource]="dataSource" mdSort class="full-width">
        <ng-container cdkColumnDef="rut">
          <md-header-cell *cdkHeaderCellDef md-sort-header class="title-center"> Rut </md-header-cell>
          <md-cell *cdkCellDef="let row" class="text-center" [routerLink]="mtype != 0 ? ['/members/show', row.id] : []"> {{ formatRut(row.rut) }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="full_name">
          <md-header-cell *cdkHeaderCellDef md-sort-header> Nombre Completo </md-header-cell>
          <md-cell *cdkCellDef="let row" [routerLink]="mtype != 0 ? ['/members/show', row.id] : []">{{ row.first_name }} {{ row.last_name }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="last_seen">
          <md-header-cell *cdkHeaderCellDef md-sort-header class="title-center"> Última Vez </md-header-cell>
          <md-cell *cdkCellDef="let row" class="text-center" [routerLink]="mtype != 0 ? ['/members/show', row.id] : []"> {{ row.last_seen | date: 'dd/MM/y' }} </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="rank">
          <md-header-cell *cdkHeaderCellDef md-sort-header class="title-center"> Ranking </md-header-cell>
          <md-cell *cdkCellDef="let row" class="text-center" [routerLink]="mtype != 0 ? ['/members/show', row.id] : []">
            <star-rating-comp [starType]="'svg'" [rating]="row.rank" [numOfStars]="4" [showHalfStars]="true"></star-rating-comp>
           </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

    </div>
    <div fxLayout="row" >
      <md-paginator #paginator
                  [length]="_peopleDatabase.data.length"
                  [pageIndex]="0"
                  [pageSize]="25"
                  [pageSizeOptions]="[10, 25, 50]">
      </md-paginator>
    </div>

  </div>

</div>
