<div class="container">
  <md-tab-group class="member-list-tabs">
    <md-tab label="Hosts">

      <md-grid-list cols="5" rowHeight="80px">
        <md-grid-tile *ngFor="let member of hosts">

          <div fxLayout="row">
            <div><img  src="https://api.adorable.io/avatars/60/{{ member.first_name }}" class="member-avatar"/></div>
            <div fxLayout="column" class="member-desc">
              <span class="member-title">{{ member.first_name }} {{ member.last_name }}</span>
              <span class="member-subtitle">Últ. visto: {{ member.last_seen | date:'dd/MM/y' }}</span>
            </div>
          </div>

        </md-grid-tile>
      </md-grid-list>

    </md-tab>
    <md-tab label="Residentes">

      <md-grid-list cols="5" rowHeight="80px">
        <md-grid-tile *ngFor="let member of residentes">

          <div fxLayout="row">
            <div><img  src="https://api.adorable.io/avatars/60/{{ member.first_name }}" class="member-avatar"/></div>
            <div fxLayout="column" class="member-desc">
              <span class="member-title">{{ member.first_name }} {{ member.last_name }}</span>
              <span class="member-subtitle">Últ. visto: {{ member.last_seen | date:'dd/MM/y' }}</span>
            </div>
          </div>

        </md-grid-tile>
      </md-grid-list>

    </md-tab>

  </md-tab-group>

</div>
