<div class="container">

  <div *ngFor="let error of errors" class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p><strong>Error!, </strong>{{error}}</p>
      </div>

  <div *ngIf="success" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            	<span aria-hidden="true">&times;</span>
            </button>
            <p><strong>Éxito!, </strong>{{success}}</p>
        </div>

<form [formGroup]="memberForm" (submit)="createMember()">
<md-card>
  <md-card-header>
    <md-card-title>Registro de Miembros</md-card-title>
  </md-card-header>

      <div>
         <md-input-container><input mdInput placeholder="Rut" formControlName="rut" required></md-input-container>
      </div>
      <div fxLayout="row" class="form-row">
        <div fxFlex="50">
           <md-input-container><input mdInput placeholder="Nombre" formControlName="first_name" required></md-input-container>
        </div>
       <div fxFlex="50">
          <md-input-container><input mdInput placeholder="Apellido" formControlName="last_name" required></md-input-container>
        </div>
      </div>

      <div fxLayout="row" class="form-row">
        <div fxFlex="50">
          <md-input-container><input type="email" mdInput placeholder="Email" formControlName="email" required></md-input-container>
        </div>
        <div fxFlex="50">
           <md-input-container><input type="number" mdInput placeholder="Teléfono" formControlName="phone" required></md-input-container>
        </div>
      </div>

      <div fxLayout="row" class="form-row">
        <div fxFlex="50">
          <md-select placeholder="Género" formControlName="gender" required>
             <md-option [value]="1"> Masculino</md-option>
             <md-option [value]="2"> Femenino </md-option>
          </md-select>
        </div>
        <div fxFlex="50">
          <md-select placeholder="Tipo Miembro" formControlName="mtype" required>
             <md-option [value]="1"> Residente </md-option>
             <md-option [value]="2"> Host </md-option>
          </md-select>
        </div>
      </div>
      <md-card-actions class="actions">
        <div>
         <button md-button type="submit">Registrar Miembro</button>
       </div>
      </md-card-actions>
</md-card>
</form>
</div>
